<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal" [routerLink]="['']">Dating App</h5>
      <nav *ngIf="loggedIn()" class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" [routerLink]="['/user/members']" routerLinkActive="active">Matches</a>
        <a class="p-2 text-dark" [routerLink]="['/user/lists']" routerLinkActive="active">Lists</a>
        <a class="p-2 text-dark" [routerLink]="['/user/messages']" routerLinkActive="active">Messages</a>
        <a class="p-2 text-dark" [routerLink]="['/user/member/edit']">
          <img [src]="photoUrl || '../../assets/user.png'" alt="" />
        </a>
      </nav>

      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <span class="dropdown-item-text mx-2 dropdown-toggle" dropdownToggle>
          Welcome {{ authService.decodedToken?.unique_name | titlecase}}
        </span>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/user/member/edit']">
            <i class="fa fa-user"></i>
            Edit Profile
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"(click)="logout()">
            <i class="fa fa-sign-out"></i>
            Logout
          </a>
        </div>
      </div>

      <form *ngIf="!loggedIn()" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-inline my-2 my-lg-0">
        <input formControlName="username" type="text" class="form-control mr-sm-2" placeholder="Username..." />
        <input formControlName="password" type="password" class="form-control mr-sm-2" placeholder="Password..." />
        <button class="btn btn-dark my-2 my-sm-2" type="submit" [disabled]="!loginForm.valid">Login</button>
      </form>
</div>
