  <div class="card">
    <div class="wrapper">
      <img class="card-img-top" [src]="user.photoUrl" [alt]="user.knownAs">
      <ul class="list-inline member-icons animate text-center">
        <li class="list-inline-item">
        <button class="btn btn-primary" [routerLink]="['/user/members/', user.id]"><i class="fa fa-user"></i></button></li>
        <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-heart"></i></button></li>
        <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-envelope"></i></button></li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <i class="fa fa-user"></i>
        {{ user.knownAs }}, {{ user.age }}
      </h5>
      <p class="card-text">{{ user.city }}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{ user.lastActive | date:'h:mm a z' }}</small>
    </div>
  </div>
